<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../../../../assets/plugins/css/plugins.css">
    
    <!-- Custom style -->
    <link href="../../../../assets/css/style.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="../../../../assets/css/colors/green-style.css">
    
	</head>
	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
		<%- include ('./partials/header') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../../../assets/img/banner-11.jpg);">
				<div class="container">
					<h1>NEWS Detail</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Blog Detail -->
			<section class="section">
				<div class="container">
					<div class="row no-mrg">
						<% if(currentblog) {%>
							<div class="col-md-8">
								<article class="blog-news">
									<div class="full-blog">
										<% var  comimg %>
											<% if(currentblog.adsimage) {%>
												<% comimg = 	'data:image/png;base64,' + new Buffer(currentblog.adsimage, 'binary').toString('base64')
												%>	
											<%}else{%>
												 <% comimg =''%>
												<%}%>
										<figure class="img-holder">
											<a href="#"><img src="<%= comimg %>" class="img-responsive" alt="News"></a>
											<div class="blog-post-date">
												<%= new Date(currentblog.createdAt).toLocaleDateString() %>
											</div>
										</figure>
										
										<div class="full blog-content">
											<div class="post-meta">	<small>Source:<a href="<%= currentblog.npurl %>"><%= currentblog.adsurl %></a></small>
												| <%= currentblog.adscount %>  </div>
											<a href="#"><h2><%=currentblog.adstitle %></h2></a>
											<div class="blog-text">
												<p>
													<%= currentblog.adsdetail %>
												</p>
											</div>
											<div class="blog-text">
												<p>
													<% var profile =  currentblog.readmore %>
												
												</p>
												<div id="id01" class="col-md-12"></div>
											</div>
											
									
											<div class="row no-mrg">
												<div class="blog-footer-social">
													<span>Share <i class="fa fa-share-alt"></i></span>
													<ul class="list-inline social">
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										
									</div>
								</article>
								<!-- <div class="row no-mrg">
									<div class="comments">      
										<div class="section-title2">
											<h3>Comments (2)</h3>
										</div>
	
										<div class="single-comment">
											<div class="img-holder">
												<img src="assets/img/blog/1.jpg" class="img-responsive" alt="">
											</div>
											<div class="text-holder">
												<div class="top">
													<div class="name pull-left">
														<h4>Robert Mil – Feb 07, 2017</h4>
													</div>
													<div class="rating pull-right">
														<ul>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
														</ul>
													</div>
												</div>
												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
												</div>
											</div>
										</div>
										<div class="single-comment">
											<div class="img-holder">
												<img src="assets/img/blog/1.jpg" class="img-responsive" alt="">
											</div>
											<div class="text-holder">
												<div class="top">
													<div class="name pull-left">
														<h4>Daniel Dax – Feb 10, 2017</h4>
													</div>
													<div class="rating pull-right">
														<ul>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star active"></i></li>
															<li><i class="fa fa-star"></i></li>
														</ul>
													</div>
												</div>
												<div class="text">
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
												</div>
											</div>
										</div>  
									</div>
								</div> -->
								<!-- <div class="row no-mrg">
									<div class="comments-form"> 
										<div class="section-title2">
											<h3>Comments (2)</h3>
										</div>
										<form>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Your Name">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="email" class="form-control" placeholder="Your Email">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Your Mobile">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Subject">
										</div>
										<div class="col-md-12 col-sm-12">
											<textarea class="form-control" placeholder="Comment"></textarea>
										</div>
										<button class="thm-btn btn-comment" type="submit">submit now</button>
										</form>
									</div>
								</div> -->
							</div>
						<%}else{}%>
						
						
						<!-- Start Sidebar -->
						<div class="col-md-4">
							<div class="blog-sidebar">
							
								<form action="/searchnewsbynewstag" method="post">
									<div class="search-form">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search…" name="newstag">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default">Go</button>
											</span>
										</div>
									</div>
								</form>
								
								<div class="sidebar-widget">
									<h4>Popular NEWS</h4>
									<ul class="sidebar-list">
										
										<% if(mybloglist.length >0 ){%>
											<% mybloglist.forEach(function(row){%>
												<% var  comimg %>
												<% if(row.adsimage) {%>
													<% comimg = 	'data:image/png;base64,' + new Buffer(row.adsimage, 'binary').toString('base64')
													%>	
												<%}else{%>
													 <% comimg =''%>
													<%}%>
												
													<li><a href="/blogdetail/<%= row.adsid %>"> <%= row.adstitle %><span>(8)</span></a></li>
										<% })%>
							  
										<%}else{}%>
									</ul>
								</div>
								
								<div class="sidebar-widget">
									<h4>TOP BLOGs </h4>
									
									<% if(mybloglist.length >0 ){%>
										<% mybloglist.forEach(function(row){%>
											<% var  comimg %>
											<% if(row.adsimage) {%>
												<% comimg = 	'data:image/png;base64,' + new Buffer(row.adsimage, 'binary').toString('base64')
												%>	
											<%}else{%>
												 <% comimg =''%>
												<%}%>
											
												<div class="blog-item">
													<div class="post-thumb"><a href="/blogdetail/<%= row.adsid %>"><img src="<%= comimg %>" class="img-responsive" alt=""></a></div>
													<div class="blog-detail">
														<a href="/blogdetail/<%= row.adsid %>>"><h4><%= row.adstitle %></h4></a>
														<small>Source:<a href="<%= row.adsurl %>"><%= row.adsurl %></a></small>
														<div class="post-info"><%= new Date(row.createdAt).toLocaleDateString() %></div>
													</div>
												</div>
									<% })%>
						  
									<%}else{}%>
								</div>
								
								
								
							</div>
						</div>
						<!-- End Start Sidebar -->
					</div>
				</div>
			</section>
			<!-- Blog Detail End -->
			<section class="brows-job-category">
				<div class="container">
					<!-- Company Searrch Filter Start -->
			
					<!-- Company Searrch Filter End -->
					<div class="row row-bottom mrg-0">
						<h2 class="detail-title">Similar NEWS and Programs</h2>
						
					</div>
					<!--Browse Job In Grid-->
					<div class="row extra-mrg">
					
						
						
						
						<% if(mybloglist.length >0){%>
							<% mybloglist.forEach(function(row){%>
								<div class="col-md-4 col-sm-6">
									<div class="grid-view brows-job-list">
										<div class="brows-job-company-img">
											<% var  comimg %>
											<% if(row.adsimage) {%>
												<% comimg = 	'data:image/png;base64,' + new Buffer(row.adsimage, 'binary').toString('base64')
												%>	
											<%}else{%>
												 <% comimg =''%>
												<%}%>
											<img src="<%= comimg %>" class="img-responsive" alt="">
										</div>
										<div class="brows-job-position">
											<h3><a href="/blogdetail/<%= row.adsid %>"><%= row.adstitle %></a></h3>
											<p><span><%= row.npurl %></span></p>
										</div>
										<div class="job-position">
											<span class="job-num"><%= new Date(row.createdAt).toLocaleDateString() %></span>
										</div>
										
										
										<span class="tg-themetag tg-featuretag">Premium</span>
									</div>
								</div>
							<%})%>
						 <%}else{}%>
						
					</div>
					<!--/.Browse Job In Grid-->

					<div class="row">
						<ul class="pagination">
							<% for (let i = 0; i < totalPages; i++) { %>
								<li class="<%= i === currentPage ? 'active' : '' %>">
									<a href="?page=<%= i %>"><%= i + 1 %></a>
								</li>
							<% } %>
						</ul>
					</div>
					
				</div>
			</section>
			<!-- Footer Section Start -->
			<%- include ('./partials/footer2') %>
			<div class="clearfix"></div>
			<!-- Footer Section End -->
			
			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
						</div>
				</div>
			</div>   
			<!-- End Sign Up Window -->
		
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../../../../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../../../../assets/js/custom.js"></script>
			<script src="../../../../assets/js/jQuery.style.switcher.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
		</div>
	</body>
	<script>
		var xmlString = '<%= profile %>';
	  var xx=  JSON.parse(JSON.stringify(xmlString))
		var doc = new DOMParser().parseFromString(xmlString, "text/html");
		var x = doc.body.innerText;
		console.log(x);
		var root = document.getElementById('id01');
		//root.append(x)
		const t = document.createElement('template');
		const d = document.createElement('div');
		t.innerHTML = x;
		d.append(t.content);
		html = $.parseHTML(x);
		
		// Append the element in the document
		$(root).append(html);
		

	  </script>
<!-- blog-detail42:00-->
</html>