
<html lang="en">

<!-- resume-detail41:26-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../../../../assets/plugins/css/plugins.css">
    
    <!-- Custom style -->
    <link href="../../../../assets/css/style.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="../../../../assets/css/colors/green-style.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
	</head>
	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
			<!-- Start Navigation -->
		<%- include ('./partials/header') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<% if(directory){%>
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../../../assets/img/banner-10.jpg);">
				<div class="container">
					<h1>Directory Detail</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			<% var  comimg = 	'data:image/png;base64,' + new Buffer(directory.bimage, 'binary').toString('base64')
			%>
			<!-- Resume Detail Start -->
			<section class="detail-desc">
				<div class="container white-shadow">
					<div class="row mrg-0">
						<div class="detail-pic">
							<img src="<%= comimg %>" class="img" alt="" />
							<a href="#" class="detail-edit" title="edit" ><i class="fa fa-pencil"></i></a>
						</div>
						<div class="detail-status">
							<span><%= directory.bworkinghours %></span>
						</div>
					</div>
					<div class="row bottom-mrg mrg-0">
						<div class="col-md-8 col-sm-8">
							<div class="detail-desc-caption">
								<h4><%= directory.bname %></h4>
								<span class="designation"><%= directory.boverview %></span>
								<p><%= directory.baboutus %></p>
							</div>
							
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="get-touch">
								<h4>Get in Touch</h4>
								<ul>
									<li><i class="fa fa-map-marker"></i><span><%= directory.bplace %></span></li>
									<li><i class="fa fa-phone"></i><span><%= directory.bcontact %></span></li>
									<li><i class="fa fa-globe"></i><span><%= directory.bwewurl %></span></li>
									
								</ul>
							</div>
						</div>
					</div>
				
				</div>
			</section>
			<!-- Resume Detail End -->
		
			<section class="full-detail-description full-detail">
				<div class="container">
				
					<div class="row row-bottom mrg-0">
						<h2 class="detail-title">Services</h2>
					   <%= directory.bservice %>	
					</div>
					<% var lng = directory.lon %>;
					<% var lat = directory.lat %>;
					<div class="row row-bottom mrg-0">
						<h2 class="detail-title">Map Location</h2>
						<div id="map" class="full-width" style="height:400px;"></div>
						
					</div>
					<script>
						const lng = <%= lng %>;
										const lat = <%= lat %>;
						
						mapboxgl.accessToken = 'pk.eyJ1IjoiYWJpbmV0MTIzIiwiYSI6ImNrbWR3d3Y5NzJwbG8ycGp4bGU1bXBtaGsifQ.LIZpH0mev90pUGXewX6lww';
						
						const map = new mapboxgl.Map({
							container: 'map',
							style: 'mapbox://styles/mapbox/streets-v12',
							center: [lng, lat],
							zoom: 18
						});
						
						const marker = new mapboxgl.Marker()
							.setLngLat([lng, lat])
							.addTo(map);
						
						const popup = new mapboxgl.Popup({ closeButton: false, closeOnClick: false })
							.setHTML('JOB LOCATION')
							.addTo(marker); // Attach the popup to the marker
						
						map.addControl(new mapboxgl.NavigationControl()); // Add zoom controls
					</script>
					
				</div>
			</section>
			<%}%>
			<!-- Footer Section Start -->
		<%- include ('./partials/footer2') %>
			<div class="clearfix"></div>
			<!-- Footer Section End -->
			
			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
						</div>
				</div>
			</div>   
			<!-- End Sign Up Window -->
			
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../../../../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../../../../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			
			<!-- Custom Js -->
			<script src="../../../../assets/js/custom.js"></script>
			<script src="../../../../assets/js/jQuery.style.switcher.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
		</div>
	</body>

<!-- resume-detail41:26-->
</html>