<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../../../assets/plugins/css/plugins.css">
    
    <!-- Custom style -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="../../../assets/css/colors/green-style.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>


	</head>
	<body>
		<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
		 
		<style>
		.geocoder {
		position: absolute;
		z-index: 1;
		width: 50%;
		left: 50%;
		margin-left: 0px;
		top: 10px;
		}
		.mapboxgl-ctrl-geocoder {
		min-width: 100%;
		}
		#map {
		margin-top: 75px;
		}
		</style>
		<div class="Loader"></div>
		<div class="wrapper">  
			
		<%- include ('./partials/header') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../../../assets/img/banner-10.jpg);">
				<div class="container">
					<h1><%= tag %></h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Browse Resume List Start -->
			<section class="manage-company">
				<div class="container">
					<!-- Company Searrch Filter Start -->
											
					<div class="row extra-mrg">
						<div id="map"  style="width: 100%; height: 200px;"></div>
										
						<div class="wrap-search-filter">
								
							<form action="/searchtvetcenterbylocation" method="post">
								<div class="col-md-8 col-sm-8">
									<div id="geocoder" class="geocoder">
										</div>
								
								</div>
								
								<input type="hidden" class="form-control" placeholder="Location" name="lat" id="latitude">
								<input type="hidden" class="form-control" placeholder="Location" name="lon" id="logtiude">
								<div class="col-md-4 col-sm-4">
									<button type="submit" class="btn btn-success btn-sm full-width">Filter By Location</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Company Searrch Filter End -->
					
	 
					<script>
					
						mapboxgl.accessToken = 'pk.eyJ1IjoiYWJpbmV0MTIzIiwiYSI6ImNrbWR3d3Y5NzJwbG8ycGp4bGU1bXBtaGsifQ.LIZpH0mev90pUGXewX6lww';
						const map = new mapboxgl.Map({
							container: 'map',
							style: 'mapbox://styles/mapbox/streets-v12',
							center: [38.7436, 9.0132], // Default center
							zoom: 15
						});
						// Add the control to the map.
const geocoder = new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl,
countries: 'ET', // Restrict results to Ethiopia
bbox: [32.95418, 3.38388, 47.98238, 14.95943] 
});

document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
let currentMarker = null; // Variable to keep track of the current marker

map.on('click', (e) => {
const { lng, lat } = e.lngLat;
const lati = document.getElementById('latitude');
const longs = document.getElementById('logtiude');
// coordinatesDiv.innerHTML = `Latitude: ${lat.toFixed(4)}<br>Longitude: ${lng.toFixed(4)}`;
lati.value = lat;
longs.value = lng;
if (currentMarker) {
currentMarker.remove();
}
const marker = new mapboxgl.Marker()
.setLngLat([lng, lat])
.addTo(map);
const popup = new mapboxgl.Popup({ closeButton: false, closeOnClick: false })
.setHTML('TVET CENTER')
.addTo(map);

// Attach the popup to the marker
marker.setPopup(popup);
currentMarker = marker;

});
						if ("geolocation" in navigator) {
							navigator.geolocation.getCurrentPosition(position => {
								const userLocation = [position.coords.longitude, position.coords.latitude];
								map.setCenter(userLocation);
							});
						} else {
							console.log("Geolocation is not available in this browser.");
						}
						</script>
					<% if(directory.length >0 ){%>
						<% directory.forEach(function(row){%>
					<a href="#" class="item-click">
						<article>
							<div class="brows-resume">
								<div class="row no-mrg">
									<div class="col-md-2 col-sm-2">
										<div class="brows-resume-pic">
											<img src="../../../assets/img/can-3.png" class="img-responsive" alt="" />
										</div>
									</div>
									<div class="col-md-4 col-sm-4">
										<div class="brows-resume-name">
											<h4><%= row.bname %></h4>
											<span class="brows-resume-designation"><%= row.boverview %></span>
										</div>
									</div>
									<div class="col-md-4 col-sm-4">
										<div class="brows-resume-location">
											<p><i class="fa fa-map-marker"></i> <%= row.bplace %></p>
										</div>
									</div>
									<div class="col-md-2 col-sm-2">
										<div class="browse-resume-rate">
											<span><i class="fa fa-time"></i><%= row.bworkinghours %></span>
										</div>
									</div>
								</div>
								<div class="row extra-mrg row-skill">
									<div class="browse-resume-skills">
										<div class="col-md-9 col-sm-8">
											<div class="br-resume">
														<span><%= row.baboutus %></span>
											</div>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="browse-resume-exp">
												<span class="resume-exp"><%= row.bcontact %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<span class="tg-themetag tg-featuretag">
								<%if(searchbykm >0 ) {%>
									Estimated  <%= 100 %> KM Away
									<%}%>
							</span>
						</article>
					</a>
					<% })%>
								  
					<%}else{}%>
					
					<div class="row">
						<ul class="pagination">
							<% for (let i = 0; i < totalPages; i++) { %>
								<li class="<%= i === currentPage ? 'active' : '' %>">
									<a href="?page=<%= i %>"><%= i + 1 %></a>
								</li>
							<% } %>
						</ul>
					</div>
					
				</div>
			</section>
			<!-- Browse Resume List End -->
			
			<!-- Footer Section Start -->
			<%- include('./partials/footer2') %>
			<div class="clearfix"></div>
			<!-- Footer Section End -->
			
			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
						</div>
				</div>
			</div>   
			<!-- End Sign Up Window -->
		
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../../../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../../../assets/js/custom.js"></script>
			<script src="../../../assets/js/jQuery.style.switcher.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
		</div>
	</body>

<!-- browse-resume41:42-->
</html>