<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../../../assets/plugins/css/plugins.css">
    
    <!-- Custom style -->
    <link href="../../../assets/css/style.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="../../../assets/css/colors/green-style.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	</head>
	<body>
		<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
		 
		<style>
		.geocoder {
		position: absolute;
		z-index: 100;
		width: 100%;
		left: 0%;
		margin-left: 0px;
		top: 0px;
		height: 50px;

		}
		.mapboxgl-ctrl-geocoder {
		min-width: 100%;
		height: 50px;
		border: 1px solid #dde6ef;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    background: #fbfdff;
    font-size: 15px;
    color: #445461;
    font-weight: 400;
	
		}
		.mapboxgl-ctrl-geocoder input[type=’text’] {
height: 50px !important;

}
		</style>
		<div class="Loader"></div>
		<div class="wrapper">  
			
		<%- include ('./partials/header') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../../../assets/img/banner-10.jpg);">
				<div class="container">
					<h1><%= tag %></h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Browse Resume List Start -->
			<section class="manage-company">
				<div class="container">
					<!-- Company Searrch Filter Start -->
											
					<div class="row extra-mrg">
						<form action="/searchtvetcenterbylocation" method="post">
								
						<div class="wrap-search-filter">
									<div class="col-md-4 ">
									
									<select class="form-control js-example-basic-multiple " name="topoccupations" id="topoccupations" >
										<option value="0">Select Occupation</option>
										
										<% subcategory.forEach(function (row){%>
											<option value="<%= row.subcatname %>"><%= row.subcatname %></option>
										<%})%>
										
									</select>
								</div>
								
								<div class="col-sm-4">
									
									<div id="geocoder" class="geocoder "    type="search"   placeholder="Enter your location"></div>
								
									
								</div>
										
										<input type="hidden" class="form-control" placeholder="Location" name="lat" id="latitude">
										<input type="hidden" class="form-control" placeholder="Location" name="lon" id="logtiude">
										<div class="col-md-4" >
											<button type="submit" class="btn btn-success btn-sm full-width">Search</button>
										</div>
						</div>
						
				
			           </form>	
					</div>
					
	  
					<!-- Company Searrch Filter End -->
					
	 
						<script>
							// TO MAKE THE MAP APPEAR YOU MUST
							// ADD YOUR ACCESS TOKEN FROM
							// https://account.mapbox.com
							mapboxgl.accessToken = 'pk.eyJ1IjoiYWJpbmV0MTIzIiwiYSI6ImNrbWR3d3Y5NzJwbG8ycGp4bGU1bXBtaGsifQ.LIZpH0mev90pUGXewX6lww';
				
						const geocoder = new MapboxGeocoder({
						accessToken: mapboxgl.accessToken,
						types: 'country,region,place,postcode,locality,neighborhood',
						countries: 'ET', // Restrict results to Ethiopia
						placeholder:'Enter Location Here',
                        bbox: [32.95418, 3.38388, 47.98238, 14.95943] 
						});
						 
						geocoder.addTo('#geocoder');
						 
						// Get the geocoder results container.
						//const results = document.getElementById('result');
						const lati = document.getElementById('latitude');
                        const longs = document.getElementById('logtiude');
						const rt = document.getElementById('result');
 
						geocoder.on('result', (e) => {
						const results = JSON.stringify(e.result, null, 2);
						const results2 = JSON.parse(results);
					
					  //  rt.innerText = results2.geometry.coordinates[0];
						console.log( results)
// coordinatesDiv.innerHTML = `Latitude: ${lat.toFixed(4)}<br>Longitude: ${lng.toFixed(4)}`;
					lati.value = results2.geometry.coordinates[1];
					longs.value  = results2.geometry.coordinates[0];

						});
						geocoder.on('clear', () => {
							lati.value = '';
						longs.value  = '';

                        });
					
						// Add geocoder result to container.
					
						</script>
						 
					<% if(directory.length >0 ){%>
						<% directory.forEach(function(row){%>
					<a href="/viewdetaildirectoryinfo/<%= row.bdid %>" class="item-click">
						<article>
							<div class="brows-resume">
								<div class="row no-mrg">
									<div class="col-md-2 col-sm-2">
										<div class="brows-resume-pic">
											<img src="../../../assets/img/tvet.jpg" class="img-responsive" alt="" />
										</div>
									</div>
									<div class="col-md-4 col-sm-4">
										<div class="brows-resume-name">
											<h4><%= row.bname %></h4>
											<% 
											var text = row.boverview;
											var txt;
											if(text.length > 100){
												 txt = text.replace(text.substring(100),'...')+" "+"ReadMore"
											}else{
												 txt = row.boverview+" "+"ReadMore";
											}
											
											var overview = txt
											%>
											<div class="reviewtekst"><p><%= overview %></p></div>
										</div>
									</div>
									
									<div class="col-md-4 col-sm-4">
										<div class="brows-resume-location">
											<p><i class="fa fa-map-marker"></i> <%= row.bplace %></p>
										</div>
									</div>
									<div class="col-md-2 col-sm-2">
										<div class="browse-resume-rate">
											<span><i class="fa fa-time"></i><%= row.bworkinghours %></span>
											<span class="resume-exp"><%= row.bcontact %></span>
										</div>
									</div>
								
								</div>
								
							</div>
							<span class="tg-themetag tg-featuretag">
								
								 <% if(long2 ===0){%>
									Estimated __KM Away
								 <%} else{%>
									Estimated  <span id="distance"></span> KM Away
								
									<%}%>
									
									<% var lng = row.lon %>
									<% var lat = row.lat %>
									<% var lng2 = long2 %>
									<% var lat2 = lati2 %>
							</span>
							<script>
                             
								function calculateDistance(lat1, lon1, lat2, lon2) {
    const R = 6371; // Radius of the Earth in kilometers

    const dLat = (lat2 - lat1) * (Math.PI / 180);
    const dLon = (lon2 - lon1) * (Math.PI / 180);

    const a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(lat1 * (Math.PI / 180)) * Math.cos(lat2 * (Math.PI / 180)) *
        Math.sin(dLon / 2) * Math.sin(dLon / 2);

    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

    const distance = R * c; // Distance in kilometers
    return distance;
}

const [lon1, lat1] = [<%= lng %>, <%= lat %>]; // Replace with your coordinates
const [lon2, lat2] = [<%= lng2 %>, <%= lat2 %>]; // Replace with your coordinates

const distance = calculateDistance(lat1, lon1, lat2, lon2);
document.getElementById('distance').innerHTML =distance.toFixed(2);
 console.log(distance);
							</script>
						</article>
					</a>
					<% })%>
								  
					<%}else{}%>
					
					<div class="row">
						<ul class="pagination">
							<% for (let i = 0; i < totalPages; i++) { %>
								<li class="<%= i === currentPage ? 'active' : '' %>">
									<a href="?page=<%= i %>"><%= i + 1 %></a>
								</li>
							<% } %>
						</ul>
					</div>
					
				</div>
			</section>
			<!-- Browse Resume List End -->
			
			<!-- Footer Section Start -->
			<%- include('./partials/footer2') %>
			<div class="clearfix"></div>
			<!-- Footer Section End -->
			
			<!-- Sign Up Window Code -->
	
			<!-- End Sign Up Window -->
		
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../../../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../../../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../../../assets/js/custom.js"></script>
			<script src="../../../assets/js/jQuery.style.switcher.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
			 <script>
				$(document).ready(function() {
			$('.js-example-basic-multiple').select2();
		});
			  </script>
		  
		</div>
	</body>

<!-- browse-resume41:42-->
</html>